.muistipeli {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 25px;
}

@media screen and (max-width: 768px) {
    .muistipeli {
        grid-template-columns: repeat(3);
        grid-template-rows: repeat(3);
    }
}

@media screen and (max-width: 480px) {
    .muistipeli {
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(4);
    }
}