html {
    background-color: rgb(106, 247, 106);
}

#header {
    text-align: center;
}

nav {
    background-color: green;

}

#content {
    padding: 2em;
    background-color: lightgreen;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: green;
}