html {
    padding: 1em;
}

#header {
    padding: 2em;
    text-align: center;
}

nav {
    background-color: green;
}

#content {
    padding: 2em;
    background-color: lightgreen;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}